<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="/public/css/call.css" rel="stylesheet">
    <!-- <script>
       var socket = io();
       socket.on('message', function(data){document.write(data)});
    </script> -->
    <style>
        
    </style>
</head>
<body>
    <div class="main-page">
 <section class="conference">
    <div class="header">
        <h1>MAKE URGENT CALL TO PATIENT</h1>
    </div>
<section class="vc-page">
    <div class="signup">
    <input type="text" placeholder="search patient number" class="search">
    </div>
    <div class="signup">
        <a href="/Register"><button class="btns" id="sbtn">MAKE CALL</button></a>
    </div>
</section>
</section>
    </div>
    <!-- <script src="/socket.io/socket.io.js"></script>  
    <script src="public/script.js" ></script> -->
</body>
</html>