<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Time Aso App</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <link rel="stylesheet" href="/public/assets/css/mediaforms.css">
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/1.3.3/jspdf.min.js"></script>
<script src="https://html2canvas.hertzen.com/dist/html2canvas.js"></script>
  </head>
  <body>
    <%- include('partials/navbar') %>

        <div class="container-fluid m-2 p-5"> 
          <!-- 2 column grid layout with text inputs for the first and last names -->
          
       <form action="/fpservice" method="post">
       <div class="row" style="margin-top: 50px;" id="row">
         <h1 style="text-align: center;margin-top: -10px;margin-bottom: 30px;color:rgb(236, 80, 80)">Generate Report</h1>       
           <div class="col-6" id="col">
            <div class="form-outline m-4"> 
              <label class="form-label" for="weight">Type Of FP Service</label>             
              <select class="form-select" aria-label="Default select example" name="serve" required> 
              <option value="None" selected disabled>Choose</option>
              <option value="1st Ever(New Acceptors)">1st Ever(New Acceptors)</option>
              <option value="CONTINUE COMMODITY GIVEN">CONTINUE COMMODITY GIVEN</option>
              <option value="VISIT NO COMMODITY GIVEN">VISIT NO COMMODITY GIVEN</option>
              <option value="VISIT COMMODITY GIVEN">VISIT COMMODITY GIVEN</option>
              <option value="COUNSELLING ONLY">COUNSELLING ONLY</option>
            </select>
          </div>
   
           </div>
           <div class="col-6" id="col2">   
   <div class="form-outline m-4 ">
     <button type="submit" class="btn btn-primary btn-block mb-4 w-100 bg-warning border-0" style="margin-top: 35px;box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);">Generate Report</button>
   </div> 
   
    
           </div>
       </div>     
           
       </div>




<script type="text/javascript" src="https://html2canvas.hertzen.com/dist/html2canvas.js"></script>
  </body>
</html>