<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="/public/css/video.css" rel="stylesheet">
    <!-- <script>
       var socket = io();
       socket.on('message', function(data){document.write(data)});
    </script> -->
    <style>
        
    </style>
</head>
<body>
    <div class="main-page">
 <section class="conference">
    <div class="header">
        <h1>ONUA TIME ASO </h1>
    </div>
<section class="vc-page">
    <div class="signup">
    <a href="/patient"><button class="btns" id="sbtn" style="font-size: larger">ADD NEW  CLIENT DETAILS</button></a>
    </div>
    <div class="login">
        <!-- <a href="/display"  ><button class="btns" id="logbtn">VIEW DATA</button></a> -->
        <a href="/vp"  ><button class="btns" id="logbtn" style="font-size: larger">VIEW CLIENT RECORDS</button></a>
    </div>
    
    <div class="Join meeting">
        <a href="/searchfirst"  ><button class="btns" id="joinbtn" style="font-size: larger">COLLECT CLINICAL RECORDS</button></a>
    </div>
    <div class="Start-meeting">
        <a href="/display"  ><button class="btns" id="createbtn" style="font-size: larger;">VIEW CLINICAL DATA</button></a>
    </div>
    <div class="signup">
        <a href="/AllReportOptions"  ><button class="btns" id="signup" style="font-size: larger">GENERATE REPORT</button></a>
    </div>
    <div class="signup">
        <a href="/Send"  ><button class="btns" id="signup" style="font-size: larger;background-color: brown;border: none;">SEND MESSAGE</button></a>
    </div>
</section>
</section>
    </div>
    <!-- <script src="/socket.io/socket.io.js"></script>  
    <script src="public/script.js" ></script> -->
</body>
</html>