
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
   }
#mc{
font-size: larger;
font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
border-radius: 7px;
background-color: rgba(255, 228, 196, 0.459);
border: none;


}

.message-server{
    font-size: larger;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    border-radius: 7px;
    border: none;
    float: right;
    margin: 20px;
    }

.client{
margin-top:40px;
background-color: rgba(255, 228, 196, 0.459);
width: max-content;
margin-left: 20px;
padding: 5px;
    }

.server{
        background-color: #ffe4c475;
        margin-right: 20px;
        margin-top: 10px;
            } 
        