@media(max-width:780px) {

    #form_container {
        margin-top: 10rem;
    }

    #ex1 {
        margin-top: -19rem;
    }

    .form-control {
        width: 100%;
    }

    #row{
    display:flex;
    flex-direction:column;

    }

    #col{
        width: 100%;
    
        }

        
    #col2{
        width: 100%;
        margin-top: -20px;
    
        }

        #col3{
            width: 80%;
            margin-top: -20px;
        
            }
            #col4{
                width: 100%;
                margin: 10px;
            
                }

                #col5{
                    width: 65%;
                    margin: 10px;
                
                    }

     #register {
        left: 0;
        width: 100%;
     }
     .form-control,
     .form-select,
      #regbtn{
        width: 100%;
     }

}
